

.playlist-page{
    margin-top: 2vh;
}

.playlist-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
}

.playlist-header{
    padding-top: 8%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Goldman', sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
}

.playlist_component{
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-bottom: 2%;

}

.playlist_image{
    width: 35%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    border: none;
}

.playlist_text{
    height: 100%;
    background-color: black;
    width: 65%;
    border-radius: 20px 20px 20px 20px;
    color: white;
    padding: 2% 2% 2%;
    line-height: 2.6vh;
    font-size: clamp(11px, 0.5vw, 18px);
    position: relative;
}

.picture{
    width: 100%;
    height: 100%;
}

.playlist_button{
    position: absolute;
    bottom: 5%;
    left: 2%;
    border-radius: 20px 20px 20px 20px;
    width: 80px;
    height: 10%;
    font-family: 'Goldman', sans-serif;
    font-weight: 700;
}

.playlist_button:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px ) {

    .playlist_button{
        font-size: 10px;
        width: 70px;
    }

    .picture{
       width: 25vw;
    }

    .playlist_text{
        width: 45vw;
    }
}

@media screen and (max-width: 700px) {
    .playlist_button{
        font-size: 6px;
        width: 55px;
    }

    .playlist_text{
        font-size: 1rem;
    }
    
}
