.loading-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae0ea;
}

.loading-spinner{
  width: 80px;
  height: 80px;
  border: 7px solid #FF7300;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 0.7s linear infinite;  
}

@keyframes spinner {
  from{}
  to{
    transform: rotate(360deg);
  }
  
}

.skeleton-container{
  height: 100vh;
}

.skeleton{
  animation: skeleton-editors 1s linear infinite alternate;
}

@keyframes skeleton-editors {
  0% {
    background-color: hwb(0 100% 0% / 0.456);
  }
  100%{
    background-color: hwb(0 100% 0% / 0.216);
  }
}

.skeleton-news{
  animation: skeleton-news 1s linear infinite alternate;
}

@keyframes skeleton-news {
  0%{
    background-color: hsla(34, 78%, 91%, 0.57);
  }

  100%{
    background-color: rgba(250, 235, 215, 0.178);
  }
  
}

.skeleton-playlist{
  animation: skeleton-playlist 1s linear infinite alternate;
}

@keyframes skeleton-playlist {
  0%{
    background-color: hsla(160, 100%, 75%, 0.192);
  }

  100%{
    background-color: hsla(160, 100%, 75%, 0.327);
  }
}

.sketon-cards{
  margin-bottom: 10vh;
}

.card-skeleton{
  animation: skeleton-card 1s linear infinite alternate;
}

@keyframes skeleton-card {
  0%{
    background-color: rgba(0, 0, 0, 0.141);
  }
  
}


@media screen and (max-width: 1000px) {
  .news_playlist_container{
    height: 20vh;
  }
}

.playlist-image-skeleton{
  animation: skeleton-playlist-image 1s linear infinite alternate;

}

@keyframes skeleton-playlist-image{
  0%{
    background-color: rgba(250, 235, 215, 0.063);
  }

  100%{
    background-color: rgba(250, 235, 215, 0.178);
  }
}

.playlsit-text-skeleton{
  animation: skeleton-playlist-text 1s linear infinite alternate;
}

@keyframes skeleton-playlist-text {
  0%{
    background-color: rgba(0, 0, 0, 0.295);
  }

  100%{
    background-color: rgba(0, 0, 0, 0.048);
  }
  
}
