.connect-container{
  background-color: #FDFCFA;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.connect-header{
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}


.connect-socials{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row by default */
  gap: 1rem;
}

.connect-social{
  height: 5vh;
  margin-top: 2vh;
  display: flex;
  background-color: rgb(252, 254, 255);
  width: 100%;
}


.connect-social-media, .connect-social-media-insta, .connect-social-x, .connect-social-mail{
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  opacity: 0.8; 
  border: solid;
  font-size: 1.1vw;
}

.connect-social-media-insta{
  font-size: 1vw;
}

.connect-social-media:hover, .connect-social-media-insta:hover, .connect-social-mail:hover, .connect-social-x:hover{
  opacity: 0.97;
  cursor: pointer;
}

.connect-social-mail:active, .connect-social-media:active, .connect-social-media-insta:active, .connect-social-x:active{
  box-shadow: 10px 10px 8px  #888888;
}

.connect-social-media:active{
  border-color: black;
}

.connect-social-media-insta:active{
  border-color: rgb(238, 16, 131);
}

.connect-social-media{
  background-color: black;
  color: rgb(255, 255, 255);
  font-family:serif;
}


.tiktok, .instagram, .twitter, .email{
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
  transition: 0.5s;
  border:solid;
  border-color: rgb(16, 16, 17);
}

.twitter{
border: none;
}

.tiktok{
  border-radius: 50%;
}

.instagram{
  border-color: rgb(238, 16, 131);
  border-radius: 50%;
}

.email{
  border-color: rgba(255, 0, 0, 0.71);
  border-radius: 10px;
}

.tiktok:hover, .instagram:hover, .twitter:hover, .email:hover{
  opacity: 0.9;
  cursor: pointer;
  transition: 0.5s;
}

.connect-social-media-insta{
  background-color: rgb(238, 16, 131);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.connect-social-x{
  background-color: white;
  color: rgb(110, 117, 117);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connect-social-mail{
  background-color: rgba(255, 0, 0, 0.71);
  color: white;
  font-size: 0.7vw;
}

.connect-social-mail:active{
  border-color:rgba(255, 0, 0, 0.71);
}

@media screen and (max-width: 600px) {
  .connect-container{
    width: 90vw;
    margin-left: 5vw;
  }
  .connect-socials {
    grid-template-columns: repeat(1, 1fr);
  }

  .connect-header{
    font-size: 1.6rem;
  }

  .connect-social-media, .connect-social-media-insta, .connect-social-x{
    font-size: 1.2rem;
  }

  .connect-social-mail{
    font-size: 1rem;
  }


}