
.news-container {
  background: linear-gradient(180deg, rgba(234, 131, 72, 0.4) 0%, rgba(211, 118, 41, 0.87) 50%, #FF8018 100%),
  linear-gradient(0deg, rgba(255, 92, 0, 0.4), rgba(231, 114, 46, 0.4));
  position: relative;
}

.editor-page, .news-container{
  height: 90vh;
  margin-bottom: 10vh;
}

.spacer {
  height: 10%;
  margin-top: 0%;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  font-family: "Goldman", sans-serif;
  font-size: 3vh;
}

.news-icon {
  width: 3vh;
  height: 20px;
  margin-right: 10px;
}

.flex-contents{
  display: flex;
  justify-content: center;
}

.flex-container{
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px;
}


.page-contents {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
}



.content-card {
  width: 100%;
  margin-right: 2%;
  margin-bottom: 10%;
  min-width: 150px;
  height: 30vh;
  position: relative;
  padding-top: 10px; ;
  background-size: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}


.content-text {
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
  color: white;
  font-family: "Monument Extended";
}

.content-text-header {
  font-size: 1.1vw;
  color: #FF7300;
}

.content-text-body {
  font-size: 0.56vw;
  margin-top: 2px;
  font-family: "Montserrat", sans-serif;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 400;
}

.pagination {
  text-align: center;
  font-size: 1.5vw;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-button{
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  width: 6vw;
  height: 3vh;
  text-align: center;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(24, 23, 23, 0.4) 2px 2px;
  font-family: "Monument Extended";
}

.page-button:hover{
  box-shadow: rgba(24, 23, 23, 0.7) 2px 2px;
  opacity: 0.9; 
  cursor: pointer;
  transition: 0.5s;
}

.page-button:active{
  opacity: 1;
  transition: 0.5s;
}




@media screen and (max-width:700px ) {
   .news-container{
    height: 670px;
   }

   .editor-page{
    height: 680px;
   }
   .content-card{
    width: 100%;
    height: 100%;
    min-width: 200px;

    border-radius: 20px;
   }

   .page-button{
    width: 40px;
    height: 15px;
   }

   .page-header{
    font-size: 12px;
   }
   .news-icon{
    width: 20px;
   }
}

