body{
    font-family: 'Monument Extended', sans-serif; 
    background: linear-gradient(180deg, rgba(255, 92, 0, 0.4) 0%, rgba(211, 118, 41, 1) 50%, #FF8018 100%),
    linear-gradient(0deg, rgba(255, 92, 0, 0.8), rgba(255, 92, 0, 0.6));
    display: flex;
    min-height: 100vh;
}

.nav_active {
    color:rgba(255, 115, 0) ;
    transition: 0.5s;
  }

.playlist-page{
    flex-grow: 1;
}

@media screen and (max-width) {
   body{
    background-color: rgba(215, 144, 61, 1);
   }     
}