.admin-page{
  padding-top: 10vh;
  height: 100vh;  
}

.admin-flex{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1%;
  margin-bottom: 2vh;
  margin-top: 2vh;
  /* background-color: aqua; */
  text-align: center;
}

.admin-page-links{
  display: flex;
  justify-content: space-around;
}

.page-managers{
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
  padding-left: 60px;
  background-color: black;
  width: 30%;
  position: static;
  z-index: 25;
}

.admin-pages{
  /* background-color: aqua; */
  width: 70% ;
}

.sign-out{
  border: none;
  background-color: white;
}

.sign-out:hover{
  cursor: pointer;
}

.sign-out-icon{
  width: 20px;
}

.sign-out-icon:hover{
  width: 22px;
}

.admin-link, .page-manager, .playlists-manager{
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: aliceblue;
}

.playlists-manager{
  border-bottom: none;
}

.admin-header{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Goldman', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}
.page-limiter{
  max-height: 80vh;
  min-width: 30vw;
  overflow-x: scroll;
  overflow-y: scroll;
}

.top-picks-page{
margin-left: 10%;
}
.top-picks-container{
  display: flex;
  flex-direction: row;
}

.editors-highlighted{
  width: 30vw;
  height: 50vh;
  background-color: aquamarine;
  display: flex;
  position: relative;
  border-top-right-radius: 20px ;
  border-top-left-radius: 20px;
}

.highlighted-text{
  position: absolute;
  bottom: 0;
}

.top-links{
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin-top: 10vh;
  justify-content: space-between;
}

.link:hover{
  text-decoration: underline;
}